/* Reglas universales */

:root {
    --color-primario: rgb(43, 139, 223);
    --color-secundario: #e91e63;
    --color-terciario: #303030;
    --color-cuaternario: #f3eaea;
    --color-slide: rgba(255, 255, 255, 0.5);
    --color-nav: #0B3D91;
    --color-hover: #47ef09;
    --bg-oscuro: #171717;

}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1em;
    height: .5em;
}

/* Carril del scroll */
::-webkit-scrollbar-track {
    background-color: var(--color-terciario);
}

/* Almohadilla del scroll */
::-webkit-scrollbar-thumb {
    background-color: var(--color-primario);
    border-radius: 5em;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-slide);
    background-color: #68777d;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

/* Tipografía */
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto Slab", serif;
}

/* ----------- Barra de navegación ----------- */
.navbar {
    background-color: var(--color-cuaternario);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 25px 20px;
}

.navbar-icon {
    display: flex;
    align-items: center;
}

.navbar-icon img {
    width: 50px;
    margin-right: 10px;
}

.navbar-icon h1 {
    font-size: 1.5rem;
    color: var(--color-terciario);
    color: #1f1d1d;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


.navbar-title h2 {
    font-size: 2.6em;
    /* Ajusta el tamaño según sea necesario */
    font-weight: bold;
    /* Para que sea más destacado */
    background: var(--color-cuaternario);
    text-shadow: #474747 3px 5px 2px;
    /* Color del texto */
    text-align: center;
    /* Alineación */
    margin: 20px 0;
    /* Espaciado */
    color: #1f1d1d;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


.navbar-links ul li {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* En pantallas pequeñas, apila los enlaces verticalmente */
    align-items: center;
    /* Centra los enlaces */
    width: 100%;
    /* Asegura que ocupen todo el ancho del contenedor */
}

.navbar-links ul li {
    list-style: none;
    margin: 50px;
    /* Ajusta los márgenes verticales */
    text-align: center;
    /* Centra los enlaces */
    display: flex;
    flex-direction: column;
    /* En pantallas pequeñas, apila los enlaces verticalmente */
    align-items: center;
    /* Centra los enlaces */
    width: 100%;
    /* Ocupa el 100% del contenedor */
}

.navbar-links ul li a {
    display: block;
    text-decoration: none;
    color: var(--bg-oscuro);
    width: 100%;
    /* Asegura que los enlaces no se desborden */
}

.navbar-links i {
    margin-right: 10px;
    /* Espacio entre el icono y el texto */
    color: red;
    /* Color del icono */
}

.navbar-links ul li a:hover {
    color: var(--color-hover);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    text-align: center;
}

.titulo {
    font-size: 2.5em;
    color: #202c2d;
    background: #FFFFFF;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
    margin-bottom: 30px;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration:none;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.boton:hover {
    background-color: #7b1c9e;
    text-decoration: none;
}


/* ----------- Footer ----------- */
footer {
    background-color: var(--color-cuaternario);
    padding: 40px 0;
    text-align: center;
    color: var(--color-terciario);
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.8);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    color: var(--color-terciario);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;

}

.footer-container p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 15px;

}

.footer-links li {
    display: inline;
}

.footer-links a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces */
    color: var(--color-secundario);
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--color-hover);
}



/*#################QUERYS#################*/

/* Estilos Responsivos */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        /* Cambia a columna en pantallas pequeñas */
        align-items: flex-start;
        /* Alinea elementos al inicio */
    }

    .navbar-title h2 {
        font-size: 1.8em;
        /* Ajustar tamaño de texto para pantallas más pequeñas */
    }

    .navbar-links {
        width: 100%;
        /* Hace que el nav ocupe el 100% */
        justify-content: center;
        /* Centra los enlaces */
    }

    .navbar-links ul {
        flex-direction: column;
        /* Coloca los enlaces en columna */
        width: 100%;
        /* Ocupa todo el ancho */
    }

    .navbar-links ul li {
        margin: 5px 0;
        /* Espaciado vertical entre enlaces */
        align-items: center;
    }

    .footer {
        display: flex;
        /* Utiliza flexbox para el footer */
        flex-direction: column;
        /* Coloca los elementos en columna */
        align-items: center;
        /* Centra horizontalmente */
        justify-content: center;
        /* Centra verticalmente si hay suficiente altura */
        text-align: center;
        /* Asegura que el texto esté centrado */
        padding: 20px;
        /* Agrega padding para mejorar la apariencia */
    }

    .footer-links {
        display: flex;
        /* Usar flexbox para centrar los elementos */
        flex-direction: column;
        /* Coloca los enlaces en columna */
        align-items: center;
        /* Asegura que los enlaces estén centrados */
        padding: 40px;
        /* Elimina el padding por defecto */
        margin-left: 60px;
    }

    .footer-links ul {
        padding: 0;
        /* Elimina el padding por defecto */
        list-style-type: none;
        /* Elimina el estilo de lista */
    }

    .footer-links ul li {
        margin: 5px 0;
        /* Espaciado vertical entre enlaces */
    }

    .footer-links a {
        text-decoration: none;
        /* Elimina el subrayado de los enlaces */
        color: #000;
        /* Cambia el color del texto según tu diseño */
    }

    .footer-links a:hover {
        text-decoration: underline;
        /* Subraya en hover para mejor visibilidad */
        color: var(--color-hover);
    }
}