<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página con contenido de videos del Nodo Tecnológico">
    <meta name="keywords" content="Clases Online, Videos, Resumen">
    <meta name="author" content="Vilma Ponce">
    <!-- Zona de fuentes e íconos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Varela+Round&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="/src/static/css/documentacion.css">
</head>
<!-- Barra de navegación -->
<header>
    <nav class="navbar">
        <!-- Ícono -->
        <div class="navbar-icon">
            <img src="/imagen/logo.png" alt="Logo" class="logo">
            <h1>Nodo Tecnológico</h1>
        </div>
        <!-- Título del sitio -->
        <div class="navbar-title">
            <h2>Clases en Línea</h2>
        </div>
        <!-- Enlaces de navegación -->
        <div class="navbar-links">
            <ul>
                <li><a href="/index.html"><i class="fas fa-circle"></i>Mi Inicio</a></li>
                <li><a href="/src/public/template/archivosExtra.html"><i class="fas fa-circle"></i>Material Extra</a></li>

            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="container">
        <h1 class="titulo">Archivos PDF por Clase</h1>
            
        <div class="botones">
            <!-- Botones para cada clase -->
            <a href="/src/static/pdf/Clase-1.pdf" class="boton">Clase 1</a>
            <a href="/src/static/pdf/Clase-2.pdf" class="boton">Clase 2</a>
            <a href="/src/static/pdf/Clase-3.pdf" class="boton">Clase 3</a>
            <a href="/src/static/pdf/Clase-4.pdf" class="boton">Clase 4</a>
            <a href="/src/static/pdf/Clase-5.pdf" class="boton">Clase 5</a>
            <a href="/src/static/pdf/Clase-6.pdf" class="boton">Clase 6</a>
            <a href="/src/static/pdf/Clase-7.pdf" class="boton">Clase 7</a>
            <a href="/src/static/pdf/Clase-8.pdf" class="boton">Clase 8</a>
            <a href="/src/static/pdf/Clase-9.pdf" class="boton">Clase 9</a>
            <a href="/src/static/pdf/Clase-10.pdf" class="boton">Clase 10</a>
            <a href="/src/static/pdf/Clase-11.pdf" class="boton">Clase 11</a>
            <a href="/src/static/pdf/Clase-12.pdf" class="boton">Clase 12</a>
            <a href="/src/static/pdf/Clase-13.pdf" class="boton">Clase 13</a>
            <a href="/src/static/pdf/Clase-14.pdf" class="boton">Clase 14</a>
            <a href="/src/static/pdf/Clase-15.pdf" class="boton">Clase 15</a>
            <a href="/src/static/pdf/Clase-16.pdf" class="boton">Clase 16</a>
            <a href="/src/static/pdf/Clase17-18-19.pdf" class="boton">Clase 17-18-19</a>

        </div>
    </div>

    <!-- Pie de página -->
    <footer>
        <div class="footer-container">
            <p>© 2024 Proyecto-Videos-Clases-Nodo Tecnológico.Vilma Ponce.</p>
            <ul class="footer-links">
                <li><a href="/index.html">Mi Inicio</a></li>
                <li><a href="/src/public/template/archivosExtra.html">Material Extra</a></li>
                
            </ul>
        </div>
    </footer>

</body>

</html>